.manage-patient-container {
    margin: 0 150px;

    .m-s-title {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }

    .table-patient {

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            background-color: #f44336;
            color: #fff;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        td:nth-child(1),
        th:nth-child(1) {
            width: 20px;
        }

        .column-gender {
            width: 80px;

        }

        .column-time {
            width: 150px;
        }

        .column-name {
            width: 150px;
        }

        .column-email {
            width: 250px;
        }

        .column-phoneNumber {
            width: 150px;
        }

        .column-address {
            width: 755px;

        }

        .btn-action {
            width: 120px;

            .action {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                text-align: center;
                // justify-content: space-around;

                .btn-complete {
                    background-color: orange;
                    min-width: 50px;
                    padding: 5px 0;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        opacity: 80%;
                    }
                }

                .btn-send-email-invoice {
                    background-color: orange;
                    min-width: 50px;
                    padding: 5px 0;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        opacity: 80%;
                    }

                }

                .btn-print-invoice {
                    background-color: orange;
                    min-width: 50px;
                    padding: 5px 0;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        opacity: 80%;
                    }

                }
            }
        }

        tr:nth-child(even) {
            // background-color: #dddddd;
        }


    }


    .notification {
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
    }
}