.manager-doctor-container {
    margin: 5px;

    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3ox;
        outline: none;
        border: none;
        padding: 5px;
        background: orange;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3ox;
        outline: none;
        border: none;
        padding: 5px;
        background: rgb(0, 140, 255);
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            opacity: 0.9;
        }
    }

    .more-infor {
        display: flex;
        gap: 18px;
        margin-bottom: 10px;

        .content-left {
            width: 49%;
        }

        .content-right {
            width: 50%;
        }
    }
}