.verify-email-container {
    .loading-booking {}

    .result-booking {
        margin-top: 60px;
        color: red;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
}