.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            // border: 1px solid blue;
            display: flex;
            align-items: center;

            .header-logo {
                background: url('../../assets/images/bookingcare-2020.svg') center center no-repeat;
                height: 60%;
                width: 45%;
                cursor: pointer;

            }

            i {
                font-size: 25px;
                opacity: 60%;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            // .child-content {
            //     width: 25%;
            // }
        }

        .right-content {
            width: 25%;
            // border: 1px solid blue;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;


                span {
                    font-size: 15px;
                    margin-left: 15px;
                }
            }

            .language-vi {
                cursor: pointer;
                margin-right: 15px;
                opacity: 0.3;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                cursor: pointer;
                opacity: 0.3;

                &.active {
                    opacity: 1;

                    span {
                        color: blue;

                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.home-header-banner {
    background: url('../../assets/images/anh-gia-dinh-78.jpg') no-repeat;
    height: 500px;
    // width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    opacity: 0.91;

    .content-up {
        // border: 1px solid red;
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
        height: 65%;
        padding-top: 30px;
        opacity: 0.91;


        .title1 {
            color: white;
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
        }

        .title2 {
            color: white;
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
        }

        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 30px;
            background-color: #f7d800;
            opacity: 90%;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 360px;
                background: transparent;
                border: none;
                outline: none;
            }
        }

    }

    .content-down {
        // border: 1px solid rgb(0, 9, 128);
        height: 35%;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));


        .options {
            display: flex;
            // flex-direction: row;
            text-align: center;
            gap: 50px;
            justify-content: center;

            .option-child {
                // border: 1px solid red;
                width: 125px;
                // text-align: center;

                .icon-child {
                    background: #fff;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    color: #49bce2;
                    font-size: 18px;

                }

                .text-child {
                    font-weight: 600;
                    font-size: 17px;

                    &:hover {
                        color: #49bce2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}